<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/scarfilun</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.show_sql">true</property>
        <mapping resource="com/scarfilun/penya/Equipo.hbm.xml" />
        <mapping resource="com/scarfilun/penya/Roles.hbm.xml" />
        <mapping resource="com/scarfilun/penya/Permissions.hbm.xml" />
        <mapping resource="com/scarfilun/penya/Penya.hbm.xml" />
        <mapping resource="com/scarfilun/penya/Users.hbm.xml" />
        <mapping resource="com/scarfilun/penya/PermActions.hbm.xml" />
        <mapping resource="com/scarfilun/penya/Jugador.hbm.xml" />
        <mapping resource="com/scarfilun/penya/Images.hbm.xml" />
    </session-factory>
</hibernate-configuration>
